body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    width:480px;
    padding:20px;
    border-radius:25px;
    align:center
}

table {
    padding-left:73px;
    line-height:1.8;
}

.computeresults {
    padding-left:80px;
    padding-top:8px;
    padding-bottom:10px;
}

.slider {
    background:blue;
}