body {background-color:black;font-family:arial;color:white}
h1{color:blue;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    width:480px;
    padding:20px;
    border-radius:25px;
    align:center
}

table {
    margin:auto;
    line-height:1.8;
}